.info-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(241, 241, 242, 0.8);
    padding-top: 10vw;

    .info-modal {
        background: #FFFFFF;
        border: 1px solid rgba(221,224,228,0.70);
        box-shadow: 0 16px 64px 0 rgba(0,0,0,0.08);
        border-radius: 8px;
        color: #2F363F;
        width: 22.57rem;
        max-width: 80%;
        text-align: center;
        
        margin: auto;

        .text {
            position: relative;

            .heading {
                font-size: 1.29rem;
                margin-top: 1.79rem;
                margin-bottom: 3.14rem;
            }

            .close {
                position: absolute;
                top: 0;
                right: 1.79rem;
                max-width: 100%;
                cursor: pointer;
            }

            .file-div {
                position: relative;
                display: inline-block;
            }
            .file-div::before {
                content: "." attr(data-extension);
                font-size: 1rem;
                position: absolute;
                bottom: 0.5rem;
                right: 0.7rem;
                color: #fff;
            }
        }

        .details {
            margin-top: 2.57rem;
            margin-bottom: 3rem;

            p {
                display: flex;
            }
            .part {
                flex: 1;
                font-size: 1.14rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .left {
                color: #2F363F;
                text-align: right;
            }
            .right {
                color: #81878C;
                padding-left: 0.57rem;
                text-align: left;
            }
        }
    }
}